{{#each perguntas}}
	<div class="card mt-3 bg-danger  text-light">
		<div class="card-body">
		<div class="row">
			<div class="col-12">
				<h1>{{pergunta}}</h1>
			</div>
		</div>
		</div>
		</div>

	<div class="card mt-3">
		<div class="card-body bg-purple" onclick="responder('{{id}}', 'a')"><h1>A) {{alternativa1}}</h1></div>
	</div>

	<div class="card mt-3">
		<div class="card-body bg-purple" onclick="responder('{{id}}', 'b')"><h1>B) {{alternativa2}}</h1></div>
	</div>

	<div class="card mt-3">
		<div class="card-body bg-purple" onclick="responder('{{id}}', 'c')"><h1>C) {{alternativa3}}</h1></div>
	</div>

	<div class="card mt-3">
		<div class="card-body bg-purple" onclick="responder('{{id}}', 'd')"><h1>D) {{alternativa4}}</h1></div>
	</div>

{{else}}
<h4 class="mt-3">Nenhuma pergunta cadastrada</h4>
{{/each}}
<script>
	function responder(resposta, res) {
		if(resposta == res) {
			alert('ok')
		}
	}
</script>

